<li>
	{{burger_name}}

	<button class="change-status" data-id="{{id}}" data-burgerStatus="{{devour}}">
		<!--uses Sleep to triger -->
		{{#if devour}}DEVOURE!{{else}}Add Another!{{/if}}
 
	{{!-- <button class="add-burger" data-id="{{this.id}}">Add Burger!</button> --}}
</li>
